@if (fetched()) {
    <div class="container-fluid">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Name" [(ngModel)]="fetchedUser.name">
        <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingInput" placeholder="Money" [(ngModel)]="fetchedUser.money">
        <label for="floatingInput">Money</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Image URL" [(ngModel)]="fetchedUser.image">
        <label for="floatingInput">Image</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Party ID" [(ngModel)]="fetchedUser.current_party_id">
        <label for="floatingInput">Party</label>
    </div>
</div> 
<div class="container-fluid">
    <div class="row p-3">
        {{fetchedUser.id}}
        @if (fetchedUser.id=="") {
            <button class="btn btn-primary" (click)="createUser()">Create</button>
        }@else {
            <button class="btn btn-secondary ms-2" (click)="updateUser()">Update</button>
        }
    </div>
</div>
}@else {

}
