.chart-container {
    position: relative;
    height: 70vh;
    width: 100%;
    max-width: 99vw;
}

.chart-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.75);
  z-index: 2;
  font-weight: bold;
} 